.task-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  overflow-y: auto;
  .task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 1px solid #ff8a8a;
    cursor: pointer;
    div {
      width: 85%;
      padding: 0.5rem;
    }
    button {
      width: 30px;
      height: 30px;
      background-image: url('../../../../public/img/cancel.svg');
      background-repeat: no-repeat;
      background-size: 70%;
      background-position: center;
    }
  }
}