@import '../../../consts';
.wrapper-column {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 220px;
  pointer-events: none;
  border-radius: 5px;
}
.drop-column {
  display: flex;
  height: 100%;
  flex-direction: column;
  width: 100%;
  border-radius: 5px;
  background-color: rgba($light, 0.4);
  padding: 0.4rem;
  pointer-events: none;
  overflow: hidden;

  .add-task,
  .task-container,
  .task-item {
    pointer-events: all;
  }
  .task-item {
    cursor: grab;
  }
}

.column-item {
  display: flex;
  flex-direction: column;

  height: 100%;
  border-radius: 5px;
  pointer-events: none;
  button {
    background-position: center;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    background-size: 100%;
  }
  .header-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 0.5rem;
    pointer-events: all;
    color: $light;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
    background-color: $c3;
    div {
      cursor: pointer;
    }
    .column-title {
      cursor: text;
      width: 80%;
      word-wrap: break-word;
    }
    input {
      width: 85%;
      border-bottom: 2px solid $c1;
      background: $c3;
      color: $light;
    }
    .column-delete {
      width: 45px;
      height: 45px;
      background-image: url('../../../../public/img/col-delete.svg');
      background-size: 70%;
    }
  }
  .column-delete {
    width: 25px;
    height: 25px;
    background-image: url('../../../../public/img/col-delete.svg');
    background-size: 100%;
  }
}
.add-task {
  width: 45px;
  height: 45px;
  background-image: url('../../../../public/img/add-task.svg');
  background-size: 70%;
}
.add-column {
  width: 65px;
  height: 65px;
  background-image: url('../../../../public/img/add-col.svg');
  background-size: 100%;
  margin: 1rem;
}
.column-delete, .col-submit, .col-cancel, .add-task, .add-column {
  &:hover {
    filter: invert(99%) sepia(100%) saturate(2%) hue-rotate(173deg) brightness(116%) contrast(100%);
    transition: 0.4s ease-in-out;
  }
}