.wrapper-column {
  display: flex;

  height: 100%;
  min-width: 200px;
  border: 1px solid #84bdff;
  pointer-events: none;
}
.drop-column {
  display: flex;
  height: 100%;
  flex-direction: column;
}
.column-item {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 90%;
  border: 1px solid #ff7272;
  pointer-events: all;

  .header-column {
    display: flex;
    border-bottom: 1px solid #d2d2d2;
  }
}
