.min-board-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  .min-board {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 200px;
    border-radius: 4px;
    background-color: #f8f8c2;
  }
  a:nth-child(n + 2) {
    margin-left: 10px;
  }
}
