@import '../../consts.scss';

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 4rem);

  .buttons-container {
    display: flex;
    gap: 1rem;
    padding: 1rem;
  }
  .welcome-descr {
    font-size: 1.2rem;
  }

  .about-container {
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    justify-content: space-between;
    .about-app {
      li {
        margin-top: 1rem;
      }
    }
    h1 {
      color: $c3;
      font-size: 1.6rem;
      padding: 2rem 0;
    }
    h2 {
      color: $c3;
      padding-bottom: 2rem;
    }
    .about {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 3rem 5rem;
      padding-top: 2rem;
      h3 {
        color: $c1;
        font-size: 1.4rem;
        padding-bottom: 1rem;
      }
      li:nth-child(1),
      li:nth-child(2) {
        width: 35vw;
      }
      li:nth-child(3) {
        width: 40vw;
      }
    }
  }
}