@import '../../consts.scss';

.footer {
  width: 100%;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  height: 4rem;
  padding: 0 2rem;
  color: $light;
  div {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .footer-container {
    width: 30vw;
    @media (max-width: 1122px) {
      width: unset;
      font-size: 0.7rem;
    }
  }
  .footer-container:nth-child(2) {
    justify-content: center;
  }
  .footer-container:nth-child(3) {
    justify-content: flex-end;
  }
}
.footer-link {
  color: $light;
  transition: 0.4s ease-in-out;
  &:hover {
    filter: drop-shadow(2px 4px 8px $dark);
  }
}

.rss {
  width: 100px;
  height: 50px;
  background-image: url('../../../public/img/rss.svg');
  background-repeat: no-repeat;
  background-size: contain;
  transition: 0.4s ease-in-out;
  a {
    visibility: hidden;
  }
  &:hover {
    cursor: pointer;
    filter: drop-shadow(2px 4px 8px $dark);
  }
  @media (max-width: 755px) {
    width: 60px;
    height: 30px;
  }
}

.github {
  width: 50px;
  height: 50px;
  background-image: url('../../../public/img/github.svg');
  background-repeat: no-repeat;
  background-size: contain;
  @media (max-width: 755px) {
    width: 25px;
    height: 25px;
  }
}
