@import '../../consts.scss';

.footer {
  width: 100%;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  align-items: center;
  background: $c2;
  height: 4rem;
  padding: 0 1rem;
  color: $light;
  div {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .footer-container {
    width: 30vw;
  }
  .footer-container:nth-child(2) {
    justify-content: center;
  }
  .footer-container:nth-child(3) {
    justify-content: flex-end;
  }
}

.footer-link {
  color: $light;
  transition: 0.4s ease-in-out;
  &:hover {
    filter: drop-shadow(2px 4px 8px $dark);
  }
}

.rss {
  width: 100px;
  height: 50px;
  background-image: url('../../../public/img/rss.svg');
  background-repeat: no-repeat;
  transition: 0.4s ease-in-out;
  a {
    visibility: hidden;
  }
  &:hover {
    cursor: pointer;
    filter: drop-shadow(2px 4px 8px $dark);
  }
}

.github {
  width: 50px;
  height: 50px;
  background-image: url('../../../public/img/github.svg');
  background-repeat: no-repeat;
}