$color_1: #BCE784;
$color_2: #5DD39E;
$color_3: #348AA7;
$color_4: #525174;
$color_5: #513B56;

$light: #FFFFFF;
$dark: #040405;


 
$c1: #8AD058; 
$c2: #4CA0C2;
$c3: #5280FE; 
$c4: #0C1B45;
$error: #dd0505;
$cancel: #888888;
$cancel_hov: #595858;

