@import './consts.scss';
html {
  min-width: 310px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: $c4;
  text-align: center;
  background-image: url('../public/svg/Sprinkle.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $c4;
}

button {
  border: none;
  cursor: pointer;
  background: none;
  font-family: 'Montserrat', sans-serif;
}

.button {
  width: 10rem;
  height: 2rem;
  border-radius: 0.15rem;
  background-color: $c3;
  color: $light;
  transition: 0.4s ease-in-out;
  &:hover {
    background-color: $c4;
  }
}

input[type='text'],
input[type='password'],
textarea {
  border: none;
  outline: none;
  border-bottom: 2px solid $c2;
  padding: 0.3rem;
  font-family: 'Montserrat', sans-serif;
}

textarea {
  resize: none;
}

input[type='text']:focus,
input[type='password']:focus,
textarea:focus {
  border: none;
  outline: none;
  border-bottom: 2px solid $c1;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba($c4, 0.6);
  border-radius: 1em;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba($c4, 0.3);
}
